/* #home-page{
	padding: 20px;
} */
#page{
	background-image: url('https://firebasestorage.googleapis.com/v0/b/bhavna-ngo.appspot.com/o/events%2Fdiwali-2023.JPG?alt=media&token=fae5e509-2e1c-4dea-a4c3-732dd690c392');
    height: 100vh;
	width: 100%;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
	color: white;
}
h1{
	text-align: center;
}
#text{
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	justify-content: center;
	border-radius: 10px;
	text-align: center;
	bottom: 2vh;
	width: 90%;
	
}
p{
	justify-content: center;
	font-size: medium;
	font-weight: 400;
}