.card-container{
    /* display: grid;
    gap: 1.2rem;
    justify-items: center;
    grid-template-columns: repeat(2,1fr); */
    /* display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    word-wrap: break-word; */
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(360px,1fr));
    gap: 10px;
    justify-items: center;
}
.campaign-container h3{
    font-weight: bold;
    text-align: center;
}
/* @media (max-width:700px){
    .card-container{grid-template-columns: repeat(1,1fr);}
} */
